<nav class="nav">
    <h3 class="nav-title">菜单</h3>
    <a href="#" class="nav-close">
        <span class="hidden">隐藏</span>
    </a>
    <ul role="menubar">
        <li class="nav-current" role="presentation"><a  href="{{ SITEURL }}/index.html" title="{{ SITENAME }} | Index" itemprop="name" itemprop="significantLink">首页</a></li>
        {% for p in PAGES %}
        <li class="nav-current" role="presentation"><a  href="{{ SITEURL }}/{{ p.url }}" title="{{ SITENAME }} |{{ p.title }}" itemprop="name" itemprop="significantLink">{{ p.title }}</a></li>
        {% endfor %}
        <li class="nav-current" role="presentation"><a  href="{{ SITEURL }}/archives.html" title="{{ SITENAME }} | Archives" itemprop="name" itemprop="significantLink">全部文章</a></li>
        {% for category, articles in categories %}
        <li class="nav-current" role="presentation"><a  href="{{ SITEURL }}/{{category.url}}" title="{{ SITENAME }} | Categoryies" itemprop="name" itemprop="significantLink">{{category}}</a></li>
        {%endfor%}
    </ul>
</nav>
<span class="nav-cover"></span>
