<nav class="pagination" role="navigation">
    <ul>
        {% if article.next_article %}
        <a rel="prev" class="newer-posts" href="{{ SITEURL }}/{{ article.next_article.url}}" title="{{ article.next_article.title }}">
            下一篇
        </a>
        {% endif %}
        {% if article.prev_article %}
        <a rel="next" class="older-posts" href="{{ SITEURL }}/{{ article.prev_article.url}}" title="{{ article.prev_article.title }}">
            上一篇
        </a>
        {% endif %}
    </ul>
</nav>
